<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/caa5add3-9114-429b-8c25-b8cede41d6a6/resourceGroups/rg-afribiz/providers/Microsoft.Web/sites/afribiz-api-spho</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afribiz-api-spho-dkexabfvcscpewhn.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bebd174d-5818-76d1-80cb-4de6b5fdad26</ProjectGuid>
    <PublishUrl>https://afribiz-api-spho-dkexabfvcscpewhn.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$afribiz-api-spho</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>